In [6]:
# Importing Dependencies 
import pandas as pd
from pathlib import Path
import numpy as np
import statistics
%matplotlib inline

In [7]:
# Importing Data
SA_VIIRS = Path("../desktop/Project_3/SUOMI_VIIRS_C2_South_America_24h.csv")

# Read the CSV into a DataFrame
SA_data = pd.read_csv(SA_VIIRS)
SA_data['Index'] = range(0,2875)
SA_data.set_index(SA_data['Index'], inplace = True)
SA_data.tail()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight,Index
Index,,,,,,,,,,,,,,
2870,-43.68244,-71.89719,312.0,0.65,0.73,2021-03-06,648,N,nominal,2.0NRT,285.4,2.7,N,2870
2871,-43.68244,-71.89332,295.6,0.65,0.73,2021-03-06,648,N,nominal,2.0NRT,282.5,1.5,N,2871
2872,-44.17352,-71.75372,295.7,0.66,0.73,2021-03-06,648,N,nominal,2.0NRT,282.1,1.3,N,2872
2873,12.76703,-87.30901,302.3,0.66,0.73,2021-03-06,812,N,nominal,2.0NRT,290.3,1.2,N,2873
2874,12.55060,-87.09937,301.1,0.69,0.74,2021-03-06,812,N,nominal,2.0NRT,290.0,1.4,N,2874

In [8]:
# Creating new dataframe with sample coordinates 
no_fire_coordinates = [[-21.90708, -39.73574], [-34.10706, -70.45501], [-34.10601, -70.46044], [5.86654, -67.82852], [5.86586, -67.82346]]
fire_coordinates = [[-10.67279, -37.17182], [-10.37124, -36.98844], [12.76703, -87.30901], [-43.68244, -71.89332], [6.26882, -68.0838]]
set_coordinates_no_fire = pd.DataFrame(no_fire_coordinates, columns = ['latitude', 'longitude'])
set_coordinates_fire = pd.DataFrame(fire_coordinates, columns = ['latitude', 'longitude'])
set_coordinates_no_fire.head()

   latitude  longitude
0 -21.90708  -39.73574
1 -34.10706  -70.45501
2 -34.10601  -70.46044
3   5.86654  -67.82852
4   5.86586  -67.82346

In [9]:
# Creating a Boolean for Fire 
frp_mean = statistics.mean(SA_data['frp'])
frp_dataframe = pd.DataFrame(SA_data['frp'])

Fire_data = ['']
for frp in frp_dataframe['frp']:
    if frp >= frp_mean:
        Fire_data += ['True']
    else:
        Fire_data += ['False']

fire_df = pd.DataFrame(Fire_data, columns = ['Intentional_fire_flag'])
fire_df.head()

  Intentional_fire_flag
0
1                 False
2                 False
3                 False
4                 False

In [12]:
# Proof of Fire
fire_df['Intentional_fire_flag'].value_counts()

False    2215
True      660
            1
Name: Intentional_fire_flag, dtype: int64

In [11]:
# Concatenated Fire Data
SA_Fire = pd.concat([fire_df, SA_data], axis="columns", join="inner")
SA_Fire.head()

,Intentional_fire_flag,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight,Index
0,,-10.23679,-37.18822,307.6,0.44,0.39,2021-03-05,336,N,nominal,2.0NRT,292.1,1.0,N,0
1,False,-10.37124,-36.98844,304.8,0.43,0.38,2021-03-05,336,N,nominal,2.0NRT,291.9,1.0,N,1
2,False,-10.66927,-37.17118,308.9,0.44,0.38,2021-03-05,336,N,nominal,2.0NRT,291.5,1.3,N,2
3,False,-10.67279,-37.17182,304.1,0.44,0.38,2021-03-05,336,N,nominal,2.0NRT,288.9,1.1,N,3
4,False,-11.03426,-37.14913,305.6,0.43,0.38,2021-03-05,336,N,nominal,2.0NRT,294.0,1.0,N,4